.main_div {
  background-color: blue;
}

.child-div {
  width: 100vw;
  height: 100vh;
  align-content: center;
  display: grid;
  place-items: center;
  color: red;
}

.inner-child1 {
  size: 30px;
  color: orange;
}

.eachItem {
  width: 100%;
  box-sizing: initial;
  background-color: white;
  padding-right: 40px;
  padding-left: 40px;
}

.btn-effect04 {
  margin-top: 15px;
  background-color: orange;
  padding: 8px;
  border-radius: 15px;
  color: white;
}

.btn-effect04:hover {
  background-color: black;
  color: white;
  shadow: medium;
  shadow-color: black;
}
